{#- Generic data template. Update to fit your handler!

Context:
  data: The data to render.
  root (bool): Whether this is the root object, injected with `:::` in a Markdown page.
  heading_level (int): The HTML heading level to use.
  config (dict): The configuration options.
-#}

{% block logs scoped %}
  {#- Logging block.

  This block can be used to log debug messages, deprecation messages, warnings, etc.
  -#}
  {{ log.debug("Rendering " + data.path) }}
{% endblock logs %}

<div class="doc doc-object doc-data">
  {% with obj = data, html_id = data.path %}

    {% filter heading(
        heading_level,
        role="data",
        id=html_id,
        class="doc doc-heading",
        toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-data"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + data.name,
      ) %}

      {% block heading scoped %}
        {#- Heading block.

        This block renders the heading for the data.
        -#}
        {% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-data"></code>{% endif %}
        <span class="doc doc-object-name doc-data-name">{{ config.heading if config.heading and root else data.name }}</span>
      {% endblock heading %}

    {% endfilter %}

    {% block signature scoped %}
      {#- Signature block.

      This block renders the signature for the data.
      -#}
      {{ data.signature | highlight(language="twincat") }}
    {% endblock signature %}

    <div class="doc doc-contents {% if root %}first{% endif %}">
      {% block contents scoped %}
        {#- Contents block.

        This block renders the contents of the data.
        It contains other blocks that users can override.
        Overriding the contents block allows to rearrange the order of the blocks.
        -#}
      {% endblock contents %}
    </div>

  {% endwith %}
</div>
