{#- Template for TwinCAT gvl

This template renders a TwinCAT gvl
Context:
  gvl: The gvl object to render.
  root (bool): Whether this is the root object, injected with `:::` in a Markdown page.
  heading_level (int): The HTML heading level to use.
  config (dict): The configuration options.
-#}


<div class="doc doc-object doc-gvl">
  {% with obj = gvl, html_id = gvl.get_identifier() %}

    {% if root %}
      {% set show_full_path = config.show_root_full_path %}
      {% set root_members = True %}
    {% elif root_members %}
      {% set show_full_path = config.show_root_members_full_path or config.show_object_full_path %}
      {% set root_members = False %}
    {% else %}
      {% set show_full_path = config.show_object_full_path %}
    {% endif %}

    {% set gvl_name = gvl.get_identifier() if show_full_path else gvl.name %}

    {% if not root or config.show_root_heading %}
      {% filter heading(
          heading_level,
          role="gvl",
          id=html_id,
          class="doc doc-heading",
          toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-gvl"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + (config.toc_label if config.toc_label and root else gvl.name),
        ) %}

        {% block heading scoped %}
          {#- Heading block.

          This block renders the heading for the gvl.
          -#}
          {% if config.show_symbol_type_heading %}<code class="doc-symbol doc-symbol-heading doc-symbol-gvl"></code>{% endif %}
          <span class="doc doc-object-name doc-gvl-name">{{ config.heading if config.heading and root else gvl_name }}</span>
        {% endblock heading %}

      {% endfilter %}
    {% else %}
      {% if config.show_root_toc_entry %}
        {% filter heading(heading_level,
            role="gvl",
            id=html_id,
            toc_label=('<code class="doc-symbol doc-symbol-toc doc-symbol-gvl"></code>&nbsp;'|safe if config.show_symbol_type_toc else '') + (config.toc_label if config.toc_label and root else gvl.name),
            hidden=True,
          ) %}
        {% endfilter %}
      {% endif %}
      {% set heading_level = heading_level - 1 %}
    {% endif %}

    <div class="doc doc-contents {% if root %}first{% endif %}">
      {% block contents scoped %}
        {#- Contents block.

        This block renders the contents of the gvl.
        It contains other blocks that users can override.
        Overriding the contents block allows to rearrange the order of the blocks.
        -#}
        

        {% block docstring scoped %}
          {#- Docstring block.

          This block renders the documentation for the gvl.
          -#}

            {% with documentation=gvl.documentation %}
                {% include "documentation.html.jinja"%}
            {% endwith %}          
        {% endblock docstring %}


        {% block declaration scoped %}
          {#- declaration block.

          This block renders the declaration for the gvl.
          -#}

          {% if gvl.declaration and config.show_source %}
            <details class="quote">
              <summary>Source Code</summary>
              {{ gvl.declaration|highlight(language="pascal", linestart=0, linenums=True) }}
            </details>
          {% endif %}
        {% endblock declaration %}




        {% block variables scoped %}
          {#- Variables block.

          This block renders the variables for the gvl.
          -#}

          {% set root = False %}
          {% set heading_level = heading_level + 1 %}

            {% if gvl.variables %}
              {% if config.show_category_heading %}
                {% filter heading(heading_level, id=html_id ~ "-variables") %}Variables{% endfilter %}
              {% endif %}
              {% with heading_level = heading_level %}
                {% for variable in gvl.variables %}
                    {% include "variable.html.jinja" with context %}
                {% endfor %}
              {% endwith %}
            {% endif %}
          
        {% endblock variables %}

      {% endblock contents %}

    </div>

  {% endwith %}
</div>

