{% if data.documentation %}
<div class="doc-section">
    <h3 class="doc-section-title">Documentation</h3>
    
    {% if data.documentation.brief %}
    <div class="doc-tag">
        <span class="doc-tag-name">Brief:</span>
        <span class="doc-tag-value">{{ data.documentation.brief }}</span>
    </div>
    {% endif %}
    
    {% if data.documentation.details %}
    <div class="doc-tag">
        <span class="doc-tag-name">Details:</span>
        <span class="doc-tag-value">{{ data.documentation.details }}</span>
    </div>
    {% endif %}
    
    {% if data.documentation.usage %}
    <div class="doc-tag">
        <span class="doc-tag-name">Usage:</span>
        <span class="doc-tag-value">{{ data.documentation.usage }}</span>
    </div>
    {% endif %}
    
    {% if data.documentation.returns %}
    <div class="doc-tag">
        <span class="doc-tag-name">Returns:</span>
        <span class="doc-tag-value">{{ data.documentation.returns }}</span>
    </div>
    {% endif %}
    
    {% if data.documentation.custom_tags %}
    {% for tag_name, tag_value in data.documentation.custom_tags.items() %}
    <div class="doc-tag">
        <span class="doc-tag-name">{{ tag_name }}:</span>
        <span class="doc-tag-value">{{ tag_value }}</span>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endif %}
