{% extends "base.html.jinja" %}

{% block title %}{{ obj.name }} - TwinCAT DUT Documentation{% endblock %}

{% block content %}
<div class="doc-section">
    <h1 class="doc-section-title">{{ obj.name }}</h1>
    
    <div class="doc-item">
        <span class="badge badge-success">DUT</span>
    </div>
    
    {% include "tcdocumentation.html.jinja" %}
    
    {% if obj.declaration %}
    <div class="doc-section">
        <h3 class="doc-section-title">Declaration</h3>
        <pre><code>{{ obj.declaration }}</code></pre>
    </div>
    {% endif %}
    
    {% include "tcvariable_section.html.jinja" %}
</div>
{% endblock %}
