{% extends "base.html.jinja" %}

{% block title %}{{ obj.name }} - TwinCAT Interface Documentation{% endblock %}

{% block content %}
<div class="doc-section">
    <h1 class="doc-section-title">{{ obj.name }}</h1>
    
    <div class="doc-item">
        <span class="badge badge-info">Interface</span>
        
        {% if obj.extends %}
        <div class="doc-item">
            <span class="doc-item-name">Extends:</span>
            <ul>
                {% for interface in obj.extends %}
                <li>{{ interface }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    
    {% if obj.declaration %}
    <div class="doc-section">
        <h3 class="doc-section-title">Declaration</h3>
        <pre><code>{{ obj.declaration }}</code></pre>
    </div>
    {% endif %}
    
    {% if obj.methods %}
    <div class="doc-section">
        <h3 class="doc-section-title">Methods</h3>
        
        {% for method in obj.methods %}
            {% include "tcmethod.html.jinja" %}
        {% endfor %}
    </div>
    {% endif %}
    
    {% if obj.properties %}
    <div class="doc-section">
        <h3 class="doc-section-title">Properties</h3>
        
        {% for property in obj.properties %}
            {% include "tcproperty.html.jinja" %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
