{% block title %}{{ data.name }} - TwinCAT Interface Documentation{% endblock %}

{% block content %}
<div class="doc-section">
    <h1 class="doc-section-title">{{ data.name }}</h1>
    
    <div class="doc-item">
        <span class="badge badge-info">Interface</span>
        
        {% if data.extends %}
        <div class="doc-item">
            <span class="doc-item-name">Extends:</span>
            <ul>
                {% for interface in data.extends %}
                <li>{{ interface }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    
    {% if data.declaration %}
    <div class="doc-section">
        <h3 class="doc-section-title">Declaration</h3>
        <pre><code>{{ data.declaration }}</code></pre>
    </div>
    {% endif %}
    
    {% if data.methods %}
    <div class="doc-section">
        <h3 class="doc-section-title">Methods</h3>
        
        {% for method in data.methods %}
            {% include "tcmethod.html.jinja" %}
        {% endfor %}
    </div>
    {% endif %}
    
    {% if data.properties %}
    <div class="doc-section">
        <h3 class="doc-section-title">Properties</h3>
        
        {% for property in data.properties %}
            {% include "tcproperty.html.jinja" %}
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
