{#- Template for TwinCAT properties.

This template renders a TwinCAT property.

Context:
  property: The property object to render.
  heading_level (int): The HTML heading level to use.
  config (dict): The configuration options.
-#}

<div class="doc doc-object doc-property">
  {% with obj = property, html_id = "property-" ~ property.name %}

    {% filter heading(
        heading_level + 2,
        role="property",
        id=html_id,
        class="doc doc-heading",
      ) %}

      {% block heading scoped %}
        {#- Heading block.

        This block renders the heading for the property.
        -#}
        <span class="doc doc-object-name doc-property-name">{{ property.name }}</span>
      {% endblock heading %}

    {% endfilter %}

    <div class="doc doc-contents">
      {% block contents scoped %}
        {#- Contents block.

        This block renders the contents of the property.
        It contains other blocks that users can override.
        Overriding the contents block allows to rearrange the order of the blocks.
        -#}
        
        {% block property_type scoped %}
          {#- Property type block.

          This block renders the type for the property.
          -#}
          {% if property.returnType %}
            <p class="doc doc-property-type">
              <span class="doc-label">Type:</span> <code>{{ property.returnType }}</code>
            </p>
          {% endif %}
        {% endblock property_type %}

        {% block docstring scoped %}
          {#- Docstring block.

          This block renders the documentation for the property.
          -#}
          {% if property.documentation %}
            {% with data = property %}
              {% include "tcdocumentation.html.jinja" %}
            {% endwith %}
          {% endif %}
        {% endblock docstring %}

        {% block getter scoped %}
          {#- Getter block.

          This block renders the getter for the property.
          -#}
          {% if property.get %}
            <div class="doc doc-section">
              <h{{ heading_level + 3 }} class="doc doc-heading">Getter</h{{ heading_level + 3 }}>
              <div class="doc doc-contents">
                {% if property.get.declaration %}
                  <div class="doc doc-subsection">
                    <h{{ heading_level + 4 }} class="doc doc-heading">Declaration</h{{ heading_level + 4 }}>
                    <div class="doc doc-contents">
                      <pre><code class="language-twincat">{{ property.get.declaration }}</code></pre>
                    </div>
                  </div>
                {% endif %}
                
                <div class="doc doc-subsection">
                  <h{{ heading_level + 4 }} class="doc doc-heading">Implementation</h{{ heading_level + 4 }}>
                  <div class="doc doc-contents">
                    {% if property.get.implementation %}
                      <pre><code class="language-twincat">{{ property.get.implementation }}</code></pre>
                    {% else %}
                      <p class="doc doc-empty-section">No implementation provided.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endblock getter %}

        {% block setter scoped %}
          {#- Setter block.

          This block renders the setter for the property.
          -#}
          {% if property.set %}
            <div class="doc doc-section">
              <h{{ heading_level + 3 }} class="doc doc-heading">Setter</h{{ heading_level + 3 }}>
              <div class="doc doc-contents">
                {% if property.set.declaration %}
                  <div class="doc doc-subsection">
                    <h{{ heading_level + 4 }} class="doc doc-heading">Declaration</h{{ heading_level + 4 }}>
                    <div class="doc doc-contents">
                      <pre><code class="language-twincat">{{ property.set.declaration }}</code></pre>
                    </div>
                  </div>
                {% endif %}
                
                <div class="doc doc-subsection">
                  <h{{ heading_level + 4 }} class="doc doc-heading">Implementation</h{{ heading_level + 4 }}>
                  <div class="doc doc-contents">
                    {% if property.set.implementation %}
                      <pre><code class="language-twincat">{{ property.set.implementation }}</code></pre>
                    {% else %}
                      <p class="doc doc-empty-section">No implementation provided.</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endblock setter %}
      {% endblock contents %}
    </div>

  {% endwith %}
</div>
